/* Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

/* Start Here */
:root {
  --clr-primary-dark: hsl(158, 36%, 37%);
  --clr-primary-light: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-300: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --fw-base: 500;
  --fw-bold: 700;

  --fm-main: 'Montserrat', sans-serif;
  --fm-sub: 'Fraunces', serif;

  --fs-base: 1.4rem;
}

body {
  color: var(--clr-neutral-300);
  font-family: var(--fm-main);
  font-size: var(--fs-base);
  background-color: var(--clr-primary-light);
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/* Card Components */

.flow-content > * + * {
  margin-top: 1.5rem;
}

.flex__group {
  display: flex;
  align-items: center;
  gap: var(--content-spacing);
}

.product {
  --content-spacing: 2rem;
  --content-padding: 2rem;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin: 0 1rem;
}

.product__content {
  padding: var(--content-padding);
}

.product__category {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: var(--fw-base);
  font-size: 1.2rem;
}

.product__title {
  color: var(--clr-neutral-900);
  font-family: var(--fm-sub);
  font-size: 2em;
  font-weight: var(--fw-bold);
  line-height: normal;
}

.product__discount {
  color: var(--clr-primary-dark);
  font-size: 3rem;
  font-weight: var(--fw-bold);
  font-family: var(--fm-sub);
}

.product__price {
  text-decoration: line-through;
}

.btn {
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 2rem;
  outline: 1px solid transparent;
  border: 1px solid transparent;
  width: min(100%);
}

.btn--primary {
  background-color: var(--clr-primary-dark);
  color: var(--clr-neutral-100);
}

.btn--icon {
  aspect-ratio: 1/1;
  width: 1.6rem;
  background: url('images/icon-cart.svg');
  display: inline-block;
}
