/* Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  font-size: 62.5%;
}

/* Start Here */
:root {
  --clr-primary-dark: hsl(158, 36%, 37%);
  --clr-primary-light: hsl(30, 38%, 92%);

  --clr-neutral-900: hsl(212, 21%, 14%);
  --clr-neutral-300: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --fw-base: 500;
  --fw-bold: 700;

  --fm-main: 'Montserrat', sans-serif;
  --fm-sub: 'Fraunces', serif;

  --fs-base: 1.4rem;
}

body {
  color: var(--clr-neutral-300);
  font-family: var(--fm-main);
  font-size: var(--fs-base);
  background-color: var(--clr-primary-light);
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/* Card Components */
.card {
  display: flex;
  width: min(75rem, 50%);
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 0 5rem hsla(0, 2%, 62%, 0.7);
  gap: 1rem;
}

.card > * {
  flex-wrap: wrap;
  flex-basis: 100%;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 1.5rem;
  width: min(50%, fit-content);
  padding: 3rem;
}

.card__product--name {
  text-transform: uppercase;
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  letter-spacing: 0.5rem;
}

.card__title {
  font-family: var(--fm-sub);
  font-weight: var(--fw-bold);
  font-size: 2.3em;
  color: var(--clr-neutral-900);
  line-height: 1.2;
}

.card__price--container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.card__price {
  font-weight: var(--fw-bold);
  font-size: 2.5em;
  font-family: var(--fm-sub);
  color: var(--clr-primary-dark);
}

.card__discount {
  font-weight: var(--fw-base);
  text-decoration: line-through;
  display: inline-block;
}

.card__button {
  outline: 1px solid transparent;
  background: var(--clr-primary-dark);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: var(--clr-primary-light);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}

.card__button:hover {
  box-shadow: 0 0.5rem 1.5rem var(--clr-neutral-300),
    0 0.5rem 2.5rem var(--clr-neutral-300);
  transform: scale(1.1);
}
.icon-cart {
  display: inline-block;
  width: 1.5rem;
  height: 1.6rem;
  overflow: hidden;
  background: url('images/icon-cart.svg');
}

@media (width <= 768px) {
  .card__content {
    align-items: baseline;
    padding: 3rem;
  }
  .card {
    flex-direction: column;
  }
  .card__price--container {
    flex-direction: column;
  }
  picture {
    border-radius: 0.5rem 0.5rem 0 0;
  }
  picture > img {
    border-radius: 0.5rem 0.5rem 0 0;
  }
}

@media (width > 768px) {
  picture {
    aspect-ratio: 1 / 1;
    border-radius: 0.5rem 0 0 0.5rem;
  }
  picture > img {
    border-radius: 0.5rem 0 0 0.5rem;
  }
}

.attribution {
  font-size: 1.4rem;
  text-align: center;
}
